body {
  background-color: #1c1c1e;
}

.App {
  text-align: center;
  /* background-color: #1c1c1e; */
}

.App-header {
  /* background-color: #282c34; */
  background-color: #d7263d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 20px 70px;
}

.Footer {
  background-color: #d7263d;
}

@media (max-width: 600px) {
  /* phones */
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  /* tablets and large phones */
}

@media (min-width: 768px) {
  /* small laptops */
}

@media (mid-width: 1280px) {
  /* large laptops */
}