#banner {
  background-color: #d7263d;
  color: white;
  padding: 0;
}

body {
  background-color: #1c1c1e;
  height: 100%;
}

html {
  height: 100%;
}

.nav-icon {
  height: 30px;
}

.App {
  text-align: center;
  /* background-color: #1c1c1e; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  /* background-color: #282c34; */
  /* background-color: #d7263d; */
  background-color: #d7263d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 20px 70px;
}

#nav-bar {
  text-align: end;
}

main {
  flex: 1;
}

@media (max-width: 600px) {
  /* phones */
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  /* tablets and large phones */
}

@media (min-width: 768px) {
  /* small laptops */
}

@media (mid-width: 1280px) {
  /* large laptops */
}