.movie-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* border: 5px solid #ffd700; */
  /* width: 15%; */
  background-color: #2c2c2e;
  /* aspect-ratio: 2/1; */
  /* height: stretch; */
}

.movie-card:hover {
  border: 5px solid #f9d923;
  transform: scale(1.1);
}

h4,
p {
  margin: 0;
}

.movie-poster {
  width: 100%;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 7%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 10px 10px
}

.heart,
.eye {
  height: 25px;
}

.heart:hover{
  transform: scale(1.4);
}

#favorited {
  color: #d7263d;
}

#not-favorited{
  color: white;
}

.eye:hover {
  transform: scale(1.4);
}

#watched {
  color: #f9d923;
}

#not-watched {
  color: white;
}

@media (max-width: 600px) {
  /* phones */
  .movie-card {
    width: 80%;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  .movie-info {
    height: 60px;
  }
}

@media (min-width: 600px) {
  /* tablets and large phones */
  .movie-card {
    width: 18%;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .movie-info {
    height: 80px;
  }
}

@media (min-width: 768px) {
  /* small laptops */
  .movie-card {
    width: 15%;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  .movie-info {
    height: 95px;
  }
}

@media (min-width: 1280px) {
  /* large laptops */
  .movie-card {
    width: 12%;
  }
h4 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  .movie-info {
    height: 100px;
  }
}
